asttokens 
backcall 
certifi 
colorama 
debugpy 
decorator 
entrypoints 
executing 
ipykernel 
ipython 
jedi 
jupyter-client 
jupyter-core 
matplotlib-inline 
nest-asyncio 
numpy==1.23.0
pandas==1.4.3
parso 
pickleshare 
prompt-toolkit 
pure-eval 
Pygments 
python-dateutil 
pytz==2022.1
pywin32==302
pyzmq 
six 
stack-data 
tornado 
traitlets 
wcwidth 
wincertstore==0.2
